<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Edit Product</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                    <div class="breadcrumb-item"><a href="#">Product</a></div>
                    <div class="breadcrumb-item">Edit Product</div>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label>Nama Product</label>
                    <input type="text" class="form-control" >
                </div>
                <div class="form-group">
                    <label>Harga</label>
                    <input type="text" class="form-control" >
                </div>
                <div class="form-group">
                    <label>Stok</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="kategori">Kategori</label>
                    <select class="form-control">
                        <option disabled value="">Pilih satu yaa...</option>
                        <option>

                        </option>
                    </select>
                </div>
            </div>
            <div class="card-body text-right">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </section>
    </div>
</template>
