<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Daftar Product</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                    <div class="breadcrumb-item"><a href="#">Product</a></div>
                    <div class="breadcrumb-item">Daftar Product</div>
                </div>
            </div>
            <div class="card-body">
                <router-link :to='{ name: "Add_product" }' class="btn btn-primary">
                    Tambah Product
                </router-link>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Product</h4>
                            <div class="card-header-action">
                                <a href="#" class="btn btn-danger">View More <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Produk</th>
                                            <th>Harga @</th>
                                            <th>Qty</th>
                                            <th>Kategori</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Permen</td>
                                            <td>20.000</td>
                                            <td>1000</td>
                                            <td>Camilan</td>
                                            <td>
                                                <router-link :to='{name:"Edit_product"}' class="btn btn-warning">Edit</router-link>
                                                <button class="btn btn-danger" >Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



</template>
