<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Tambah Product Masuk</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                    <div class="breadcrumb-item"><a href="#">Product Masuk</a></div>
                    <div class="breadcrumb-item">Tambah Product Masuk</div>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label>Product</label>
                    <input type="text" class="form-control" placeholder="Apa nama productnya?">
                </div>
                <div class="form-group">
                    <label>Supplier</label>
                    <input type="text" class="form-control" placeholder="Siapa suppliernya?">
                </div>
                <div class="form-group">
                    <label>Stok</label>
                    <input type="text" class="form-control" placeholder="Berapa stoknya?">
                </div>
                <div class="form-group">
                    <label>Tanggal Masuk</label>
                    <input type="date" class="form-control" placeholder="Kapan masuknya?">
                </div>
            </div>
            <div class="card-body text-right">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </section>
    </div>
</template>
