<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Edit Kategori</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                    <div class="breadcrumb-item"><a href="#">Kategori</a></div>
                    <div class="breadcrumb-item">Edit Kategori</div>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label>Nama Kategori</label>
                    <input type="text" class="form-control" >
                </div>
            </div>
            <div class="card-body text-right">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </section>
    </div>
</template>
