<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Daftar Supplier</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                    <div class="breadcrumb-item"><a href="#">Supplier</a></div>
                    <div class="breadcrumb-item">Daftar Supplier</div>
                </div>
            </div>
            <div class="card-body">
                <router-link :to='{ name: "Add_supplier" }' class="btn btn-primary">
                    Tambah Supplier
                </router-link>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Supplier</h4>
                            <div class="card-header-action">
                                <a href="#" class="btn btn-danger">View More <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Supplier</th>
                                            <th>Alamat</th>
                                            <th>Email</th>
                                            <th>No. HP</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Suwardi</td>
                                            <td>Jogja</td>
                                            <td>suwardi@gmail.com</td>
                                            <td>081234123123</td>
                                            <td>
                                                <router-link :to='{ name: "Edit_supplier" }' class="btn btn-warning">Edit
                                                </router-link>
                                                <button class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



</template>
