<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Tambah Customer</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                    <div class="breadcrumb-item"><a href="#">Customer</a></div>
                    <div class="breadcrumb-item">Tambah Customer</div>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label>Nama Customer</label>
                    <input type="text" class="form-control" placeholder="Siapa nama customernya?">
                </div>
                <div class="form-group">
                    <label>Alamat</label>
                    <input type="text" class="form-control" placeholder="Dimana alamat lengkapnya?">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Masukan emailnya!!">
                </div>
                <div class="form-group">
                    <label>No. HP</label>
                    <input type="text" class="form-control" placeholder="Masukan No. HPnya!!">
                </div>
            </div>
            <div class="card-body text-right">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </section>
    </div>
</template>
